@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --secondary-bg-color: #f5f4fa;
  --design-bg-color: #2f303a;
  --accent-color: #2196f3;
  --hover-accent-color: #188ce8;
  --wite-bg-color: #ffffff;
  --white-text-color: #ffffff;
  --icons-color: #afb1b8;
  --low-opacity-text: rgba(255, 255, 255, 0.6);
  --footer-bg-icon: rgba(255, 255, 255, 0.1);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --hover-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --backdrop-bg: rgba(0, 0, 0, 0.2);
  --projects-bg-hover: rgba(33, 150, 243, 0.9);
  --cubic-value: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------------UTILITIES---------------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.clients__link, .socials__link, .we-make__description, .advantages__icon, .modal-policy, .modal__close-button, .footer-subscribe__button, .footer-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

/* ----------------NAV---------------- */
.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__black {
  color: #000000;
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic-value);
}
.site-nav__link::after {
  position: absolute;
  display: block;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms var(--cubic-value);
  transform-origin: left center;
}
.site-nav__link:hover::after, .site-nav__link:focus::after {
  transform: scaleX(1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__link--current::before {
  position: absolute;
  display: block;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:first-child) {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic-value);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ----------------FOOTER---------------- */
.footer {
  padding: 60px 0;
  background-color: var(--design-bg-color);
}

.footer__wrap {
  align-items: baseline;
  display: flex;
}

.footer-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo--white-half {
  color: white;
}

.footer-contacts__adress-bottom-margin {
  margin-top: 20px;
}

.footer-contacts__list {
  display: inline-block;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__location {
  color: var(--white-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-contacts__link {
  color: var(--low-opacity-text);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-socials--margin-left {
  margin-left: 70px;
}

.footer-socials__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-socials__list {
  display: flex;
  justify-content: center;
}

.footer-socials__item {
  width: 44px;
  height: 44px;
}
.footer-socials__item:not(:first-child) {
  margin-left: 10px;
}

.footer-socials__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--footer-bg-icon);
  color: white;
  transition: background-color 250ms var(--cubic-value);
}
.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--accent-color);
}

.footer-socials__icon {
  fill: currentColor;
}

.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-subscribe__form {
  display: flex;
}

.footer-subscribe__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  color: var(--white-text-color);
}

.footer-subscribe__button {
  margin-left: 12px;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--cubic-value);
}
.footer-subscribe__button:hover, .footer-subscribe__button:focus {
  background-color: var(--hover-accent-color);
}

.footer-subscribe__icon {
  margin-left: 10px;
  fill: #ffffff;
}

/* ----------------"Студия" page CSS---------------- */
/* ----------------HERO SECTION---------------- */
.hero {
  text-align: center;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: var(--white-text-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--cubic-value);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hover-accent-color);
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg);
  transition: opacity 800ms var(--cubic-value), visibility 800ms var(--cubic-value);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--wite-bg-color);
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  transform: scale(1) translate(-50%, -50%);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: var(--accent-color);
  transition: fill 250ms var(--cubic-value);
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: currentColor;
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form__wrap {
  margin-bottom: 20px;
}

.modal-form__user-info {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-form__user-info:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form__input {
  padding: 0;
  margin: 0;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--cubic-value);
}
.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms var(--cubic-value);
}
.modal-form__input:focus + .modal-form__input-icon {
  fill: var(--accent-color);
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms var(--cubic-value);
}
.modal-form__textarea:focus {
  border-color: var(--accent-color);
}
.modal-form__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-policy {
  margin-bottom: 30px;
}

.modal-policy__label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.modal-policy__label .modal-policy__icon-check {
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.modal-policy__icon-check {
  fill: #ffffff;
}

.modal-policy__check:checked + .modal-policy__label .modal-policy__icon-check {
  background-color: var(--accent-color);
  border: none;
  transition: background-color 250ms var(--cubic-value);
}

.modal-policy__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.modal-policy__submit-button {
  padding: 10px 55px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--cubic-value), box-shadow 250ms var(--cubic-value);
}
.modal-policy__submit-button:hover, .modal-policy__submit-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--hover-accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ----------------ADVANTAGES---------------- */
.section--no-padding-bottom {
  padding-bottom: 0;
}

.advantages {
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.advantages__icon {
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  width: 270px;
  height: 120px;
  border-radius: 4px;
}

.advantages__title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages__description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* ----------------WHAT CAN WE MAKE---------------- */
.we-make {
  display: flex;
}

.we-make__item {
  position: relative;
}
.we-make__item:not(:last-child) {
  margin-right: 30px;
}

.we-make__description {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ----------------TEAM---------------- */
.section--team-background {
  background-color: var(--secondary-bg-color);
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--wite-bg-color);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team__description {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
}
.socials__item:not(:first-child) {
  margin-left: 10px;
}

.socials__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--wite-bg-color);
  color: var(--icons-color);
  transition: color 250ms var(--cubic-value), background-color 250ms var(--cubic-value);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--wite-bg-color);
}

.socials__icon {
  fill: currentColor;
}

/* ----------------CLIENTS---------------- */
.clients {
  display: flex;
}

.clients__item:not(:first-child) {
  margin-left: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);
  transition: color 250ms var(--cubic-value), border-color 250ms var(--cubic-value);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/* ----------------"Портфолио" page CSS---------------- */
/* ----------------FILTER NAVIGATION---------------- */
.filter--bottom-margin {
  margin-bottom: 50px;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__buttons {
  padding: 6px 22px;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms var(--cubic-value), background-color 250ms var(--cubic-value), box-shadow 250ms var(--cubic-value);
}
.filter__buttons:hover, .filter__buttons:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: var(--hover-shadow);
}

/* ----------------PROJECTS---------------- */
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.projects__link {
  display: block;
  transition: box-shadow 250ms var(--cubic-value);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}

.projects__wrap {
  position: relative;
  overflow: hidden;
}

.projects__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--white-text-color);
  background-color: var(--projects-bg-hover);
  transform: translateY(100%);
  transition: transform 250ms var(--cubic-value);
}
.projects__item:hover .projects__text {
  transform: translateY(0);
}

.projects__thumb {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects__title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */