.we-make {
	display: flex;
}

.we-make__item {
	position: relative;

	&:not(:last-child) {
		margin-right: 30px;
	}
}

.we-make__description {
	position: absolute;
	bottom: 0;
	right: 0;

	@extend %stance-list;

	width: 370px;
	height: 70px;

	background-color: rgba(47, 48, 58, 0.8);
	color: var(--white-text-color);
	@include fonts(700, 14px, 1.14, 0.03em);
	text-transform: uppercase;
}