:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--secondary-bg-color: #f5f4fa;
	--design-bg-color: #2f303a;
	--accent-color: #2196f3;
	--hover-accent-color: #188ce8;
	--wite-bg-color: #ffffff;
	--white-text-color: #ffffff;
	--icons-color: #afb1b8;
	--low-opacity-text: rgba(255, 255, 255, 0.6);
	--footer-bg-icon: rgba(255, 255, 255, 0.1);
	--card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	--hover-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	--backdrop-bg: rgba(0, 0, 0, 0.2);
	--projects-bg-hover: rgba(33, 150, 243, 0.9);
	--cubic-value: cubic-bezier(0.4, 0, 0.2, 1);
}
